---
Language: Cpp
BasedOnStyle: LLVM

# General
Standard: Latest
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100

# Braces
BreakBeforeBraces: Linux

# Keep control flow and functions visually expanded
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false

# Spacing
SpaceBeforeParens: ControlStatements
SpaceAfterTemplateKeyword: true

# Pointers / references
PointerAlignment: Left
ReferenceAlignment: Pointer
DerivePointerAlignment: false

# Alignment
AlignAfterOpenBracket: Align

AlignConsecutiveDeclarations:
    Enabled: false
    AcrossEmptyLines: false
    AcrossComments: false
    AlignFunctionPointers: false

AlignTrailingComments:
    Kind: Never

# Includes
SortIncludes: true
IncludeBlocks: Regroup

# Namespaces
NamespaceIndentation: None
FixNamespaceComments: true

# Comments
ReflowComments: true
...
