@define-color background #0d0d0d;
@define-color foreground #eeeeee;
@define-color card #1a1a1a;
@define-color card_foreground #eeeeee;
@define-color popover #282828;
@define-color popover_foreground #c0c0c0;
@define-color primary #990088;
@define-color primary_foreground #ffcef8;
@define-color secondary #282828;
@define-color secondary_foreground #eeeeee;
@define-color muted #111111;
@define-color muted_foreground #a1a1aa;
@define-color accent #303030;
@define-color accent_foreground #ffffff;
@define-color destructive #C34043;
@define-color destructive_foreground #ffffff;
@define-color border @primary;
@define-color input #181818;
@define-color ring @primary;
@define-color shadow #000000;

* {
  all: unset;
  font-family: 'Monaspace Neon NF', monospace;
  font-size: 14px;
}

picture {
  filter: blur(1.2rem);
}

frame.background {
  background: alpha(@background, .80);
  color: @foreground;
  border-radius: 8px;
  box-shadow: 0 0 8px 0 alpha(@shadow, .80);
  border: 1px solid @border;
}

frame.background.top {
  font-size: 18px;
  padding: 8px 16px;
  background: @background;
  border-radius: 0;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  color: @foreground;
  border-bottom: 1px solid @border;
}

box.horizontal>button.default.suggested-action.text-button {
  background: none;
  color: @primary_foreground;
  border: 1px solid @primary;
  padding: 12px;
  margin: 0 8px;
  border-radius: 4px;
  font-weight: bold;
  transition: background .3s ease-in-out;
}

box.horizontal>button.default.suggested-action.text-button:hover {
  background: alpha(@primary, 0.4);
}

box.horizontal>button.text-button {
  background: none;
  color: alpha(@destructive, 0.8);
  border: 1px solid @destructive;
  padding: 12px;
  border-radius: 4px;
  transition: background .3s ease-in-out;
}

box.horizontal>button.text-button:hover {
  background: @destructive;
  color: @destructive_foreground;
}

modelbutton.flat {
  background: @secondary;
  color: @secondary_foreground;
  padding: 8px 12px;
  margin: 2px;
  border-radius: 4px;
  border-spacing: 6px;
  transition: background 0.2s;
}

modelbutton.flat:hover {
  background: @accent;
  color: @accent_foreground;
}

modelbutton.flat:selected {
  background: @primary;
  color: @primary_foreground;
}

button.image-button.toggle {
  color: @muted_foreground;
  margin-right: 0;
  padding: 12px;
  border-radius: 4px;
  transition: all 0.2s;
}

button.image-button.toggle:hover {
  background: @accent;
  color: @accent_foreground;
  box-shadow: 0 0 4px 0px alpha(@shadow, .6);
}

button.image-button.toggle:disabled {
  background: @muted;
  color: alpha(@muted_foreground, .6);
  padding: 12px;
  border-radius: 4px;
}

combobox {
  background: @input;
  color: @foreground;
  border: 1px solid @border;
  border-radius: 4px;
  padding: 6px 12px;
  box-shadow: none;
}

combobox:hover {
  background: shade(@input, 1.1);
  border-color: @ring;
}

combobox:disabled {
  background: @muted;
  color: alpha(@muted_foreground, .6);
  border-radius: 4px;
  padding: 12px;
  box-shadow: none;
}

combobox > popover {
  background: @background;
  color: @foreground;
  border: 1px solid @border;
  border-radius: 4px;
  padding: 6px;
  box-shadow: 0 4px 12px black;
}

combobox>popover>contents {
  padding: 4px;
}

entry.password {
  background: @input;
  color: @foreground;
  border: 1px solid @border;
  border-radius: 4px;
  padding: 10px;
  caret-color: @primary;
  transition: all 0.2s;
}

entry.password:focus,
entry.password:hover {
  background: shade(@input, 1.1);
  border-color: @ring;
  box-shadow: 0 0 0 1px @ring;
}
